---
Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  modernize-*,
  performance-*,
  portability-*,
  -bugprone-easily-swappable-parameters,
  -modernize-use-trailing-return-type,
  -portability-avoid-pragma-once
WarningsAsErrors: ''
HeaderFilterRegex: '(^|.*[\\/])(src|tests)[\\/].*'
SystemHeaders: false
FormatStyle: file
...
