---
Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  modernize-*,
  performance-*,
  portability-*,
  -bugprone-easily-swappable-parameters,
  -modernize-use-trailing-return-type
WarningsAsErrors: ''
HeaderFilterRegex: '^(src|tests)/'
SystemHeaders: false
FormatStyle: file
...

